[".oh-my-zsh"]
type = "archive"
url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
type = "archive"
url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autocomplete"]
type = "archive"
url = "https://github.com/marlonrichert/zsh-autocomplete/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/forgit"]
type = "archive"
url = "https://github.com/wfxr/forgit/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

{{ if eq .chezmoi.os "linux" }}
[".fzf"]
type = "archive"
url = "https://github.com/junegunn/fzf/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
{{ end }}

[".config/nvim"]
type = "archive"
url = "https://github.com/ahkohd/nvim/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "24h"

[".config/zellij/plugins/zjstatus.wasm"]
type = "file"
url = "https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm"
refreshPeriod = "24h"

[".config/zellij/plugins/harpoon.wasm"]
type = "file"
url = "https://github.com/Nacho114/harpoon/releases/download/v0.1.0/harpoon.wasm"
refreshPeriod = "24h"

[".config/yazi/plugins/eza-preview.yazi"]
type = "archive"
url = "https://github.com/ahkohd/eza-preview.yazi/archive/feature-level.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "24h"

[".config/yazi/plugins/no-status.yazi/init.lua"]
type = "file"
url = "https://github.com/yazi-rs/plugins/blob/main/no-status.yazi/init.lua"
exact = true
stripComponents = 1
refreshPeriod = "24h"
