# Setup fzf
{{ if eq .chezmoi.os "darwin" }}
# ---------
if [[ ! "$PATH" == */opt/homebrew/opt/fzf/bin* ]]; then
  PATH="${PATH:+${PATH}:}/opt/homebrew/opt/fzf/bin"
fi

# Auto-completion
# ---------------
source "/opt/homebrew/opt/fzf/shell/completion.bash"

# Key bindings
# ------------
source "/opt/homebrew/opt/fzf/shell/key-bindings.bash"

{{ else if eq .chezmoi.os "linux" }}
# ---------
if [[ ! "$PATH" == */home/var/.fzf/bin* ]]; then
  PATH="${PATH:+${PATH}:}/home/var/.fzf/bin"
fi

# Auto-completion
# ---------------
source "/home/var/.fzf/shell/completion.bash"

# Key bindings
# ------------
source "/home/var/.fzf/shell/key-bindings.bash"
{{ end }}
