<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>claude</key>
	<dict>
		<key>name</key>
		<string>claude</string>
		<key>checksum</key>
		<string>f15070401c21b18e34c1f105f3b65fc36ae605b77f9bfee5f615f337d1a0a3923b00f4e882247782d52b6d006823965023b822730098a2b67573d5e06fb994da</string>
		<key>url</key>
		<string>https://storage.googleapis.com/claude-code-dist-86c565f3-f756-42ad-8dfa-d59b1c096819/claude-code-releases/2.1.175/darwin-arm64/claude</string>
		<key>version</key>
		<string>2.1.175</string>
	</dict>
	<key>codex</key>
	<dict>
		<key>name</key>
		<string>codex</string>
		<key>checksum</key>
		<string>8c7c254677bb917c93c71a4742b67d6ae817c8e170b20039e760872a623771629e5bdba6d4931a494966f072b1f7440d7bc116ee52e68c7f0a73e4ff550852b1</string>
		<key>url</key>
		<string>https://github.com/openai/codex/releases/download/rust-v0.140.0/codex-aarch64-apple-darwin.tar.gz</string>
		<key>version</key>
		<string>0.140.0</string>
	</dict>
</dict>
</plist>
