font_size 14.0
font_family BerkeleyMono Nerd Font Plus Font Awesome Plus Octicons Plus Codicons Plus Material Design Icons Regular
bold_font BerkeleyMono Nerd Font Plus Font Awesome Plus Octicons Plus Codicons Plus Material Design Icons Bold
italic_font BerkeleyMono Nerd Font Plus Font Awesome Plus Octicons Plus Codicons Plus Material Design Icons Italic
bold_italic_font BerkeleyMono Nerd Font Plus Font Awesome Plus Octicons Plus Codicons Plus Material Design Icons Bold Italic

window_padding_width 20

{{ if eq .chezmoi.os "darwin" }}
include embark-theme.conf
{{ else if eq .chezmoi.os "linux" }}
# linux
{{ else }}
include no-clown-fiesta-theme.conf
{{ end }}
