default_shell "zsh"
pane_frames false
simplified_ui true
theme "nord"

keybinds {
  shared_except "tab" "locked" {
    unbind "Ctrl h"
    bind "Ctrl x" { SwitchToMode "Move"; }
  }

  move {
    unbind "Ctrl h"
    bind "Ctrl x" { SwitchToMode "Normal"; }
  }
}

ui {
	pane_frames {
		hide_session_name true
	}
}
