default_shell "zsh"
pane_frames false
simplified_ui true
theme "nord"

keybinds {
      move {
        unbind "Ctrl h"
        bind "Ctrl x" { SwitchToMode "Normal"; }
      }

      shared_except "tab" "locked" {
        unbind "Ctrl h"

        bind "Ctrl x" { SwitchToMode "Move"; }
      }

      shared_except "locked" {
        bind "Alt f" "PageUp" { ToggleFloatingPanes; SwitchToMode "Normal"; }

        bind "Alt b" "End" {
              LaunchOrFocusPlugin "file:~/.config/zellij/plugins/harpoon.wasm" {
                  floating true; move_to_focused_tab true;
              }
          }

        bind "Alt m" "PageDown" { ToggleFocusFullscreen; }
      }
}

ui {
	pane_frames {
		hide_session_name true
	}
}
