/* ---- https://github.com/JaKooLit ---- */
/* Rofi Beats Config (compact) */

@import "~/.config/rofi/config-compact.rasi" 

/* ---- Entry ---- */ 
entry {
  placeholder: "Choose Media or Stations to play";
}

/* ---- Listview ---- */
listview {
  lines: 6;
}
