@define-color foreground #F7F8E0;
@define-color background alpha(#101114,0.35);
@define-color border alpha(#101114,0.1);
@define-color cursor #D8B198;

@define-color color0 #3A3B3E;
@define-color color1 #937875;
@define-color color2 #BA6951;
@define-color color3 #EA9E7B;
@define-color color4 #ADB886;
@define-color color5 #B6BB6E;
@define-color color6 #E7ECA6;
@define-color color7 #EBEDCA;
@define-color color8 #A4A68D;
@define-color color9 #937875;
@define-color color10 #BA6951;
@define-color color11 #EA9E7B;
@define-color color12 #ADB886;
@define-color color13 #B6BB6E;
@define-color color14 #E7ECA6;
@define-color color15 #EBEDCA;
