@import "colors.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  /* font-family: TX-02-AREMU; */
  font-size: 14px;
  color: @foreground;
  background: transparent;
  text-shadow: 0 0px 1.5px @background;
}

.modules-left {
  font-family: TX-02-AREMU;
  background: @background;
  border-radius: 20px;
  padding: 0 10px;
  margin-top: 5px;
  margin-left: 180px;
  border: 1px solid @border;
}

.modules-center {
  font-family: Inter;
  font-weight: 500;
  background: @background;
  border-radius: 40px;
  padding: 0 14px;
  margin-top: 5px;
  border: 1px solid @border;
}

.modules-right {
  font-family: TX-02-AREMU;
  background: @background;
  border-radius: 40px;
  padding: 0 8px;
  margin-top: 5px;
  margin-right: 180px;
  border: 1px solid @border;
}

#workspaces {
  padding: 0px;
  margin: 0px;
}

#workspaces button {
  all: initial;
  padding: 0 4px;
  margin: 0px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.75;
}

#pulseaudio {
  margin: 0 5px 0 5px;
}

#tray {
  margin: 0 8px 0px 0px;
}

tooltip {
  padding: 2px;
}
