[diff]
command = "delta"

{{ $commitMsg := promptString "Commit message" -}}

[git]
autoCommit = true
autoPush = true
commitMessageTemplate = "{{ $commitMsg }}"

encryption = "gpg"
[gpg]
recipient = "1F76A9056C921C8A004F63E28D43F8A176DDC6BD"

{{ $fishPath := "/usr/bin/fish" -}}
{{ if eq .chezmoi.os "darwin" -}}
{{  $fishPath = "/opt/homebrew/bin/fish" -}}
{{ end -}}

[data]
  fishPath = {{ $fishPath | quote}}
