shell:
  program: zsh
env:
  TERM: alacritty
window:
  decorations: {{ ternary "Buttonless" "None" (eq .chezmoi.os "darwin") }}
  dimensions:
    columns: 140
    lines: 38
  opacity: 1
  padding:
    x: 10
    y: 5
font:
  size: {{ ternary 18 14 (eq .chezmoi.os "darwin") }}
  normal:
    family: "BitstromWeraNerdFont"
    style: Regular
  bold:
    family: "BitstromWeraNerdFont"
    style: Bold
  offset:
    x: 0
    y: 0
import:
  - ~/.config/alacritty/themes/mellow.yml
