import = ["~/.config/alacritty/themes/nord.toml"]

[env]
TERM = "alacritty"

[font]
size = {{ ternary 16 14 (eq .chezmoi.os "darwin") }}

[font.normal]
family = "BerkeleyMono Nerd Font Plus Font Awesome Plus Octicons Plus Codicons Plus Material Design Icons"
# family = "BitstromWera Nerd Font"
style = "Regular"

[font.bold]
family = "BerkeleyMono Nerd Font Plus Font Awesome Plus Octicons Plus Codicons Plus Material Design Icons"
# family = "BitstromWera Nerd Font"
style = "Bold"

[font.offset]
x = 0
y = 0

[shell]
program = "zsh"

[window]
opacity = 1.0
blur = true
decorations = {{ ternary "\"Buttonless\"" "\"None\"" (eq .chezmoi.os "darwin") }}
option_as_alt = "Both"

[window.dimensions]
columns = 140
lines = 38

[window.padding]
x = 10
y = 5
