import = ["/home/var/.config/alacritty/themes/mellow.toml"]

[env]
TERM = "alacritty"

[font]
size = {{ ternary 18 14 (eq .chezmoi.os "darwin") }}

[font.normal]
family = "Bitstream Vera Sans Mono"
style = "Regular"

[font.bold]
family = "Bitstream Vera Sans Mono"
style = "Bold"

## [font.bold_italic]
## family = "Bitstream Vera Sans Mono"
## style = "Bold Italic"
##
## [font.italic]
## family = "Bitstream Vera Sans Mono"
## style = "Italic"

[font.offset]
x = 0
y = 0

[shell]
program = "zsh"

[window]
opacity = 1
decorations = {{ ternary "Buttonless" "None" (eq .chezmoi.os "darwin") }}

[window.dimensions]
columns = 140
lines = 38

[window.padding]
x = 10
y = 5
